{% extends "base.html" %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
<div class="container py-md-5">
    <h1>Enter new password</h1>
    <form action="." method="post" accept-charset="utf-8">
        {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1">{{ form.new_password1.label }}</label>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Enter password" value="{{ form.new_password1.value|default:"" }}" required>
                <span class="text-danger">{{ form.new_password1.errors }}</span>
            </div>
            <div class="form-group">
                <label for="id_new_password2">{{ form.new_password2.label }}</label>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Enter password confirmation" value="{{ form.new_password2.value|default:"" }}" required>
                <span class="text-danger">{{ form.new_password2.errors }}</span>
            </div>
        <button type="submit" class="btn btn-secondary" value="Change">Change my password</button>
    </form>
</div>
{% endblock content %}
